# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Database
*.db
*.sqlite3

# Uploads (veliki filevi, ne commitaj)
backend/uploads/*

# Logs
backend/logs/*

# IDE
.vscode/
.idea/

.DS_Store
.gitignore
docker-compose.yml

# Environment variables
.env

# Node modules (za frontend)
frontend/node_modules/
frontend/build/
